<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PRP - Presonal Runtime Protection</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col">
            <div>
              <h1>
                <b>P</b>resonal 
                <b>R</b>untime 
                <b>P</b>rotection
              </h1>

              <h2 class="font-weight-bold">About</h2>
              <p>
                Server is serving your Personal Runtime Protection dashboard.
              </p>
            </div>
            
            <div v-if="isScanning">
              <button class="btn btn-secondary btn-lg" disabled @click="">
                <div class="spinner-border" role="status"></div>
              </button>
            </div>
            <div v-else>
              <button class="btn btn-primary btn-lg" @click="requestScan">Run Scan</button>
            </div>
          </div>

          <div class="col">
            <h2 class="font-weight-bold">Status</h2>
            <div v-if="lastRequest">
              <h4>Connected. Data is flowing</h4>
              {{ lastRequest }}
              
              <h4>Clients</h4>
              <p v-for="(value, key) in clients">
                {{ key }} ({{ value }})
              </p>
            </div>
            <div v-else>
              <p>Waiting for data...</p>
            </div>
            <hr>
            <h2 class="font-weight-bold">Summary</h2>
            <p v-for="(value, key) in stats">
              {{ key }}: {{ value }}
              <br />
            </p>
            <p v-if="Object.keys(stats).length === 0">
              No data yet
            </p>

            <hr>
            <h2 class="font-weight-bold">Scan Results</h2>
            <p v-for="(value, key) in scanResults">
              {{ key }}: {{ value }}
              <br />
            </p>
            <p v-if="Object.keys(scanResults).length === 0">
              No data yet
            </p>
            
          </div>

        </div>
      </div>
    </div>

    <script defer>
      const backend = window.location.hostname + ":" + window.location.port;

      let vue = new Vue({
        el: '#app',

        data: {
          isScanning: false,
          scanResults: {},
          stats: {},
          lastRequest: null,
          clients: {}
        },

        created() {
          // run every 5 seconds
          setInterval(() => {
            $.get(`http://${backend}/stats`, (data, err) => {
              this.stats = data;
            });

            $.get(`http://${backend}/clients`, (data) => {
              this.clients = data;
            });

            this.lastRequest = new Date();


          }, 1000);
        },

        methods: {
          requestScan() {
            this.isScanning = true;
            
            $.post(`http://${backend}/scan`, function(response) { 
              this.scanResults = response;
              console.log(response);
            });

            setTimeout(() => {
              this.isScanning = false;
            }, 5000);
          }
        }
      });
    </script>
  </body>
</html>